---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Buttonlil from "../components/Buttonlil.astro";
import Software from "../components/Software.astro";
import Projekter from "../components/Projekter.astro";
import Aspekter from "../components/Aspekter.astro";
import { Image } from "astro:assets";
const name = "Astro";
---

<MainLayout title="Emma Bjørg Augereau Sørensen">
  <div>
    <section
      id="herounit"
      class="grid grid-cols-1 lg:grid-cols-2 pt-32 md:pb-32 pb-20 px-8 md:px-16 lg:px-32 xl:px-64 md:gap-10 gap-6"
    >
      <div class="grid grid-rows-1 justify-center w-full h-full items-center">
        <div class="flex flex-col justify-end items-center">
          <div class="">
            <h1
              class="text-3xl md:text-4xl font-black uppercase text-balticsea text-center p-0"
            >
              Emma Bjørg Augereau
            </h1>
            <h1
              class="text-[48px] md:text-[87px] font-black uppercase text-balticsea text-center -mt-4 md:-mt-10"
            >
              Sørensen
            </h1>
          </div>
          <Button />
        </div>
      </div>
      <div class="flex justify-center md:items-center items-start">
        <img src="/valg4.webp" alt="Portrait" class="w-64 md:w-72" />
      </div>
    </section>

    <section
      id="ommig"
      class="scroll-mt-20 w-full flex flex-col justify-center items-center md:pb-32 pb-20 px-4"
    >
      <h2
        class="text-3xl md:text-5xl font-black uppercase text-balticsea text-center"
      >
        Hvem er jeg?
      </h2>
      <h3 class="italic text-deepaqua pt-2 pb-6 text-lg md:text-xl">
        ... og hvad vil jeg?
      </h3>
      <p
        class="w-full md:w-8/12 lg:w-6/12 text-sm leading-relaxed font-fragment-mono"
      >
        Jeg er multimediedesign-studerende i gang med mit 3. semester på KEA og
        er drevet af en konstant nysgerrighed efter at udforske, hvordan design
        kan skabe meningsfulde brugeroplevelser. <br /><br />
        Jeg søger en praktikplads, hvor jeg kan fordybe mig i læring, udforske nye
        teknikker og opnå praktisk erfaring, mens jeg udvikler design, der både skaber
        værdi og fungerer optimalt. Mit fokus på detaljerne sikrer, at mit design
        leverer kvalitet og funktionalitet. <br /><br />
        Jeg elsker at fordybe mig i den kreative proces, fra den tidlige skitse til
        den færdige brugergrænseflade. Hvad enten det handler om at designe intuitive
        apps, skabe visuelle elementer eller dykke ned i UX-processer, finder jeg
        inspiration i arbejdet med at forene æstetik og funktionalitet.<br /><br
        />
        <i> Og så er jeg forresten helt vildt god til Mario Kart.</i>
      </p>
    </section>

    <section
      id="kompetencer"
      class="bg-deepaqua w-full flex flex-col justify-center items-center md:pb-32 pb-20 px-4"
    >
      <h2
        class="pt-20 text-3xl md:text-5xl font-black uppercase text-brightsun text-center pb-6"
      >
        Færdigheder
      </h2>
      <p
        class="w-full md:w-8/12 lg:w-6/12 text-sm leading-relaxed font-fragment-mono text-greenwhite"
      >
        Gennem mit studie som multimediedesign-studerende på KEA og mine
        tidligere projekter har jeg opnået solid erfaring med flere vigtige
        aspekter af UX/UI-design, herunder:
      </p>
      <div
        class="text-brightsun text-center italic font-fragment-mono text-xs md:text-sm pt-6 tracking-wide gap-2"
      >
        <div class="flex justify-center flex-wrap">
          <p>Research</p>
          <p class="px-2 md:px-4">-</p>
          <p>Wireframes</p>
          <p class="px-2 md:px-4">-</p>
          <p>Prototyping</p>
          <p class="px-2 md:px-4">-</p>
          <p>Brugertests</p>
        </div>
        <div class="flex justify-center flex-wrap pt-2">
          <p>Projektstyring</p>
          <p class="px-2 md:px-4">-</p>
          <p>Brugercentreret design</p>
          <p class="px-2 md:px-4">-</p>
          <p>Designprocesser</p>
        </div>
      </div>
      <p
        class="w-full md:w-8/12 lg:w-6/12 text-sm leading-relaxed font-fragment-mono text-greenwhite pt-20"
      >
        Derudover har jeg stiftet bekendtskab med flere digitale værktøjer og
        teknologier, herunder:
      </p>

      <article class="grid grid-cols-2 lg:grid-cols-3 gap-6 md:gap-10 pt-10">
        <Software tool="Figma" erfaring="Erfaren" />
        <Software tool="Premiere Pro" erfaring="Erfaren" />
        <Software tool="Html" erfaring="Erfaren" />
        <Software tool="Illustrator" erfaring="Moderat" />
        <Software tool="InDesign" erfaring="Let øvet" />
        <Software tool="CSS" erfaring="Erfaren" />
        <Software tool="Photoshop" erfaring="Moderat" />
        <Software tool="After Effects" erfaring="Let øvet" />
        <Software tool="JavaScript" erfaring="Let øvet" />
      </article>
    </section>

    <section
      id="projekterne"
      class="w-full flex flex-col justify-center items-center pt-14 md:pt-20 px-4"
    >
      <h2
        class="text-3xl md:text-5xl font-black uppercase text-balticsea text-center"
      >
        Tidligere projekter
      </h2>
      <h3 class="italic text-deepaqua pt-2 pb-6 text-lg md:text-xl">
        Et udvalg af mine seneste webløsninger fra studiet.
      </h3>
      <Projekter />
    </section>

    <section
      id="kontaktmig"
      class="w-full flex flex-col justify-center items-center pt-20 pb-32 px-4"
    >
      <h2
        class="text-3xl md:text-5xl font-black uppercase text-balticsea text-center"
      >
        Kontakt
      </h2>
      <h3 class="italic text-deepaqua pt-2 pb-6 text-lg md:text-xl">
        Jeg glæder mig til at høre fra dig!
      </h3>
      <article class="flex flex-col md:flex-row items-center gap-10 md:gap-20">
        <div class="flex flex-col justify-center items-center">
          <div class="pb-6 flex justify-center">
            <img src="/linkedin.svg" alt="" class="w-16 md:w-20" />
          </div>
          <Buttonlil
            info="Connect med mig"
            urlen="https://www.linkedin.com/in/emmabjrgaugereau/"
          />
        </div>
        <div class="flex flex-col justify-center items-center">
          <div class="pb-6 flex justify-center">
            <img src="/mail.svg" alt="" class="w-20 md:w-24" />
          </div>
          <Buttonlil
            info="emmabs99@gmail.com"
            urlen="mailto:emmabs99@gmail.com"
          />
        </div>
        <div class="flex flex-col justify-center items-center">
          <div class="pb-6 flex justify-center">
            <img src="/cellphone.svg" alt="" class="w-16 md:w-20" />
          </div>
          <Buttonlil info="+45 23 64 97 13" urlen="tel:+4523649713" />
        </div>
      </article>
    </section>
  </div>
</MainLayout>
