---

---

<div>
  <a href="https://www.linkedin.com/in/emmabjrgaugereau/" target="_blank">
    <button
      class="bg-deepaqua text-greenwhite font-fragment-mono rounded-full py-3 px-8 hover:bg-balticsea transition"
      >Find mig på LinkedIn!</button
    ></a
  >
</div>
