---

---

<div class="bg-balticsea grid justify-between text-greenwhite">
  <a href="/"><img src="/public/logo.svg" alt="" /></a>
  <nav>
    <a href="">Om mig</a>
    <a href="">Færdigheder</a>
    <a href="">Tidligere projekter</a>
    <a href="">Kontakt</a>
  </nav>
</div>
