---
const { tool, erfaring } = Astro.props;
---

<div class="font-fragment-mono text-xs md:text-sm px-10">
  <p class="text-brightsun">{tool}</p>
  <p class="text-greenwhite italic">{erfaring}</p>
</div>
